.CatItem {
    width: 65%;
    border: 1px solid red;
    margin: 20px;
    
}

.cat-card-image {
    z-index: -1;
    overflow: hidden;
}

.cat-card-image img {
    max-width: 100%;
    min-width: 100%;
    /* height: 100%; */
    transition: transform 1s ease;
}

.cat-card-image img:hover {
    transform: scale(1.5);
}

.cat-info {
    padding: 10px;
}