main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cat-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}